/* PHASE 12: Modal */

.modal {

}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.form-close {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  right: 24px;
}

.modal-title {
  font-size: 36px;
  font-weight: 100;
}

.form p {
  margin-bottom: 20px;
}